:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}
header .container1{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal-index{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../img/capa-bloodsport.jpg');

    height:400px;
    background-size:cover;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal-pais{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../img/capa-cidade.jpg');

    height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal-genero{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../img/capa-interstellar.jpg');

    height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header.categ-ativa{
    margin-top: 1%;
    width: 40%;
    display:flex;
    flex-direction: row;
}

.categ-ativa .titulo{
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.filme-principal-index .titulo, .filme-principal-pais .titulo, .filme-principal-genero .titulo{
    margin-top: 2%;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.filme-principal-index .descricao, .filme-principal-genero .descricao, .filme-principal-pais .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

div .botoes{
    margin-top: 10%;
}


div .dropdown{
    margin-left: 35px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container1{
    margin-left: 20px;
}

.filme-principal-index .container1, .filme-principal-genero .container1, .filme-principal-pais .container1{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.categoria{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-left: 20px;
    padding: 10px 5px;
}


.carrosel-filmes{
    margin-top:5px;
}



















